<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--Head-->
<head th:fragment="head">
    <title th:include=":: #pageTitle">LD</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous">
    </script>

    <!--Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
            integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp"
            crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
            integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/"
            crossorigin="anonymous">
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous">
    </script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous">
    </script>

    <!--Custom style-->
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
<!--Navigation bar-->
<div th:fragment="navibar" xmlns:th="http://www.w3.org/1999/xhtml">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="/lessons/all">Lessons</a>
                </li>
            </ul>
            <ul class="navbar-nav mr-auto"></ul>
            <!--Set variable current endpoint-->
            <div th:with="endpoint=${#httpServletRequest.requestURI}">
                <!--display search form only on "/note/list" or "/note/search" endpoints-->
                <form th:if="${endpoint == '/lessons/all'} or ${endpoint == '/lessons/search'}"
                      sec:authorize="isFullyAuthenticated()" class="form-inline my-2 my-lg-0" action="/lessons/search">
                    <input class="form-control mr-sm-2" style="width: 300px;" placeholder="Search" aria-label="Search"
                           name="contains" id="contains" type="search" th:value="${contains}" >
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
            <!--for authorised users only-->
            <ul class="navbar-nav mr-auto"></ul>
            <form sec:authorize="isFullyAuthenticated()" class="form-inline my-2 my-lg-0" action="/logout">
                <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Logout</button>
            </form>
        </div>
    </nav>
</div>
<div th:fragment="modalDelete" xmlns:th="http://www.w3.org/1999/xhtml" class="modal fade" id="deleteModal" tabindex="-1"
     role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Attention</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Lesson will be deleted, are you sure you want to proceed?</p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-danger" href="#">Delete anyway</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>