<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments :: head">
    <title id="pageTitle">Login</title>
</head>
<body>
<div class="container">
    <form method="POST" class="form-signin" action="/login">
        <h2 class="form-signin-heading">Log in</h2>
        <div class="form-group ${error != null ? 'has-error' : ''}">

            <div th:form="${error != null ? 'has-error' : ''}">
                <span class="ui-state-error-text" style="color: red" th:text="${message}"></span>

                <div class="form-group">
                    <label for="phone" class="form-label mt-4">Phone number</label>
                    <input required type="text" class="form-control" id="phone" name="phone" placeholder="Phone">
                </div>
                <div class="form-group">
                    <label for="password" class="form-label mt-4">Phone number</label>
                    <input required type="password" class="form-control" id="password" name="password"
                           placeholder="Password">
                </div>
                <span class="ui-state-error-text" style="color: red" th:text="${error}"></span>

            </div>

            <button class="btn btn-outline-primary btn-block" type="submit">Log in</button>
            <h4 class="text-center"><a href="/users/registration">Create an account</a></h4>
        </div>
    </form>
</div>
</body>
</html>